.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.header [alt="logo"] {
  width: 165px;
}
.header-logout {
  cursor: pointer;
  position: absolute;
  width: 30px;
  right: 20px;
}

@media screen and (min-width: 768px) {
  .header [alt="logo"] {
    width: 303px;
  }
}
